<h4> Liquidación Semana: </h4>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
          <tr >
            <th scope="col" *ngFor="let tipo of tiposHoras">{{tipo}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dia of semana">    
            <th scope="row">{{dia.label}}</th>
            <td scope="row"><div [innerHTML]="dia.horarios.join('\<br/>')"></div> </td>
            <td scope="row">{{dia.horasDiurnas}}</td>
            <td scope="row">{{dia.horasNocturnas}}</td>
            <td scope="row">{{dia.horasExtraDiurna}}</td>
            <td scope="row">{{dia.horasExtraNocturna}}</td>
            <th scope="row">{{dia.totalHoras}}</th>
          </tr>
          <tr *ngIf="calcularTotales()">    
            <th scope="row">Totales</th>
            <th scope="row"> </th>
            <th scope="row">{{horasDiurnas}}</th>
            <th scope="row">{{horasNocturnas}}</th>
            <th scope="row">{{horasExtraDiurna}}</th>
            <th scope="row">{{horasExtraNocturna}}</th>
            <th scope="row">{{totalHoras}}</th>
          </tr>
        </tbody>
      </table>
</div>