<div class="container">
  <h1> Calculadora Salarial</h1>
  <h2>Ajustada a la reforma laboral</h2>
</div>
<form>
  <div class="form-group">
    <div class="container">
      <label for="nombre">Nombres:</label>
      <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="peticion.nombres">
    </div>
    <div class="container">
      <label for="edad">Edad:</label>
      <input class="form-control" type="number" id="edad" name="edad">
    </div>
    <div class="container">
      <label for="nombre">Sexo al nacer:</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="hombre" name="sexo" id="hombre">
        <label class="form-check-label" for="hombre">
          Hombre
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="mujer" name="sexo" id="mujer">
        <label class="form-check-label" for="mujer">
          Mujer
        </label>
      </div>
    </div>
    <div class="container">
      <label for="aprendiz">Soy aprendiz del SENA:</label>
      <input class="form-check-input" type="checkbox" id="aprendiz" name="aprendiz" [(ngModel)]="peticion.sena">
    </div>
    <div class="container" *ngIf="peticion.sena">
      <label for="etapa">Etapa :</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="lectiva" name="etapa" id="lectiva"
          [(ngModel)]="peticion.etapa">
        <label class="form-check-label" for="lectiva">
          Etapa Lectiva
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="productiva" name="etapa" id="productiva"
          [(ngModel)]="peticion.etapa">
        <label class="form-check-label" for="productiva">
          Etapa Productiva
        </label>
      </div>
    </div>
    <div class="container" *ngIf="!peticion.sena">
      <label for="salario">Salario Base: </label>
      <input class="form-control" type="number" id="salario" name="salario">
    </div>
    <div class="container">
      <label for="domingos">Domingos que trabajas al año (0-52):</label>
      <input class="form-control" type="number" id="domingos" name="domingos">
    </div>
    <div class="container">
      <label for="festivos">Festivos que trabajas al año (0 - 18):</label>
      <input class="form-control" type="number" id="festivos" name="festivos">
    </div>
    <br>
    <div class="container">
      <h3>Cuál es tu jornada laboral?</h3>
      <p>Agrega los bloques de horas:</p>
      <br>
      <div class="turnoCard" *ngFor="let item of turnos">
        <app-turno [turno]="item" (turnoChange)="setTurno($event)" (deleteEmitter)="deleteTurno($event)"></app-turno>
      </div>
      <div class="deleteTurno">
        <div class="btn btn-success" (click)="addTurno()">Agregar Turno</div>
      </div>
    </div>
  </div>
</form>