<div class="container">
    <h2>Aquí podrás ver la documentación</h2>

    <p>
        Estos son los parámetros que tengo en cuenta y los supuestos para la
        simulación. Por favor si encuentras un valor que está mal te invito a informármelo
        <a href="{{contacto.link}}">{{contacto.usuario}}</a>
    </p>

    <h3>Parámetros de las reformas:</h3>

    <div class="table-responsive">
        <h4>Parámetros utilizados:</h4>
        <app-parametros [peticion]="peticion" [verSMLV]="true"></app-parametros>
    </div>

</div>