<div class="container">
    <h2>Aquí podrás ver la documentación</h2>

    <p>
        En esta secci&oacute;n agregar&eacute; los par&aacute;metros que tengo en cuenta y los supuestos para la
        simulaci&oacute;n;
        es muy probable que algunos valores no esten bien mientras esta en construcci&oacute;n y en sus versiones alfa
        si encuentras un valor que está mal te invito a informarmelo <a
            href="{{contacto.link}}">{{contacto.usuario}}</a>
    </p>

    <h3>Parámetros de las reformas:</h3>

    <div class="table-responsive">
        <h4>Parámetros utilizados:</h4>
        <app-parametros [peticion]="peticion" ></app-parametros>
    </div>

</div>