<h4> Liquidación simulada para la semana: </h4>
<br>
<div class="row">
  <div class="col">
    <div class="jornada titulos">
      <div>
        Reforma:
      </div>
      <div>
        <br> Jornada Diurna:
        <br> Jornada Nocturna:
      </div>
    </div>
  </div>
  <div class="col">
    1950
    <div>
      <br>[06:00 AM - 06:00 PM]
      <br>[06:00 PM - 06:00 AM]
    </div>
  </div>
  <div class="col">
    789
    <div>
      <br>[06:00 AM - 10:00 PM]
      <br>[10:00 PM - 06:00 AM]
    </div>
  </div>
  <div class="col">
    2025
    <div>
      <br>[06:00 AM - 07:00 PM]
      <br>[07:00 PM - 06:00 AM]
    </div>
  </div>
</div>
<div>
  <br>
  <p>
    Haz clic sobre las filas para ver los detalles.
  </p>
</div>

<div class="table-responsive">
  <table class="table align-middle">
    <thead>
      <tr>
        <th scope="col" *ngFor="let tipo of tiposHoras">{{tipo}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dia of semana" ngClass="{{'table-'+dia.style}}" [hidden]="hidden(dia)"
        (click)="toogle(dia.reforma)">
        <th scope="row">{{dia.label}}</th>
        <td scope="row">{{dia.reforma}}</td>
        <td scope="row">
          <div [innerHTML]="dia.horarios.join('\<br/>')"></div>
        </td>
        <td scope="row">{{dia.horasDiurnas}}</td>
        <td scope="row">{{dia.horasNocturnas}}</td>
        <td scope="row">{{dia.horasExtraDiurna}}</td>
        <td scope="row">{{dia.horasExtraNocturna}}</td>
        <th scope="row">{{dia.totalHoras}}</th>
      </tr>
    </tbody>
  </table>
</div>