<div class="container">
    <h2>4-Simulacion de historia laboral</h2>
    <p></p>
    <h3>Datos ingresados:</h3>
    <table>
        <tbody>
            <tr>
                <th>Nombre:</th>
                <td>{{peticion.nombres}}</td>
            </tr>
            <tr>
                <th>Estudiante del Sena?</th>
                <td>{{peticion.sena?'Si':'No'}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <th>Etapa en el SENA?</th>
                <td>{{peticion.etapa}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <th>Duraci&oacute;n pr&aacute;ctica SENA?</th>
                <td>{{peticion.duracion}} Meses</td>
            </tr>
            <tr>
                <th>Trabajas los festivos: </th>
                <td>{{peticion.festivos?'Si':'No'}}</td>
            </tr>
            <tr>
                <th>Salario Base: </th>
                <td>{{peticion.salario | currency : '$'}}</td>
            </tr>
            <tr>
                <th>Edad: </th>
                <td>{{peticion.edad}}</td>
            </tr>
            <tr>
                <th>Experiencia Laboral: </th>
                <td>{{peticion.experiencia}}</td>
            </tr>
            <tr>
                <th>Te pensionarás como: </th>
                <td>{{peticion.sexo === const.hombre.sexo ? const.hombre.label:const.mujer.label}} a los {{peticion.sexo
                    ===
                    const.hombre.sexo ? const.hombre.edadPension:const.mujer.edadPension}} años</td>
            </tr>
            <tr>
                <th>Año inicial simulación : </th>
                <td>{{laboral.inicio}}</td>
            </tr>
            <tr>
                <th>Año final simulación: </th>
                <td>{{laboral.fin}}</td>
            </tr>
            <tr>
                <th>Años trabajando: </th>
                <td>{{laboral.fin-laboral.inicio}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button (click)="verNotas = !verNotas" button type="button" class="btn btn-success">Ver Consideraciones</button>
    <div *ngIf="verNotas">
        <br>
        <app-parametros [peticion]="peticion"></app-parametros>
        <br>
        <ul>
            <li>Simulacion proyectada a los años que has trabajado</li>
            <li>Cada color representa la simulación de una Reforma Laboral</li>
            <li>Todos los cálculos se realizan en salarios de 2025</li>
            <li>No se incluye el subsidio de transporte ni primas ni cesantías ni vacaciones para los cálculos en este
                momento.</li>
        </ul>
    </div>
    <br>
    <br>
    <p>
        Las primeras barras muestran cómo se vería tu historia laboral simulando cada una de las reformas hechas desde
        1990 y con la propuesta actual:
    </p>
    <p>
        Luego puedes ver la comparacíón de cómo se proyectan tus ingresos <b> Sin la reforma</b> laboral y <b>Con
            Reforma
        </b>
    </p>
    <p>
        <b>Sin Reforma:</b> Te muestra cómo es la proyección de la simulación de toda tu historia laboral liquidada
        aplicando cada una de las reformas vigentes durante el periodo en que has trabajado, dependiendo de tu
        experiencia es posible que te aplique desde la Ley 50 de 1990 y Sin aplicar la propuesta actual.
    </p>
    <p>
        <b>Con Reforma:</b> Proyecta tu historia laboral pero aplicando los cambios propuestos en la reforma 2025 a
        partir
        del año de inicio que para esta simulación es <b>{{parametros[const.reforma2025.index].angoInicio}}</b>.
    </p>
    <br>

    <grafico-barras-acumulado [data]="laboral.barrasAcumulado"></grafico-barras-acumulado>

    <br>
    <p>
        Los ingresos totales <b> Sin la reforma</b> y <b>Con Reforma</b> y la <b>Diferencia</b> que podría existir entre
        ellos:
    </p>
    <br>
    <grafico-barras-simple [datos]="laboral.barrasSimpleDatos">
    </grafico-barras-simple>
    <br>
    <div *ngIf="laboral.diferencia && laboral.diferencia>0">
        Al tumbar la reforma los congresistas te negaron:
        <ul>
            <li><b>{{laboral.diferencia | currency : '$'}}</b> que recibirías en <b>{{agnosTrabajando}}</b> Años</li>
            <li><b>{{laboral.diferencia/(agnosTrabajando*12) | currency : '$'}}</b> pesos mensuales que recibirías
                durante <b>{{ agnosTrabajando * 12}} meses </b></li>
            <li><b>{{laboral.diferencia/(agnosTrabajando*12*360) | currency : '$'}}</b> pesos diarios que recibirías en
                <b>{{ (agnosTrabajando * 12 * 360) | number : '1.0'}} días </b>
            </li>
        </ul>
        Que comparado con el salario de un congresista de <b>{{const.salarioCongresista | currency : '$'}} </b> por Mes
        (año 2025)
        significa que el congresista te negó lo que a él/ella le tomarán <b> {{politicoMes | number: '1.1-1'}} Meses
        </b>
        o <b>{{politicoDia | number: '1.1-1'}} Días </b> recibir.
        <br>
        <br>
        <app-congresistas></app-congresistas>
        <br>
        <br>
    </div>
    <div *ngIf="laboral.diferencia == undefined || laboral.diferencia == 0">
        La simulación generada no encontró cambios en la proyección Con Reforma y Sin Reforma para los datos ingresados.
        <br>
        <br>
    </div>

    <h3>Detalle año a año:</h3>
    <p>El detalle de los años simulados desde el inicio de tu experiencia laboral hasta tu edad de pensión:</p>
    <horas-laboral [laboral]="laboral.valores">
    </horas-laboral>
    <div class="row">
        <div class="spacer">
            <button button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>