<div class="container">
    <h2>4-Simulacion de historia laboral</h2>
    <p></p>
    <h3>Datos ingresados:</h3>
    <table>
        <tbody>
            <tr>
                <th>Nombre:</th>
                <td>{{peticion.nombres}}</td>
            </tr>
            <tr>
                <th>Estudiante del Sena?</th>
                <td>{{peticion.sena?'Si':'No'}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <th>Etapa en el SENA?</th>
                <td>{{peticion.etapa}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <th>Duraci&oacute;n pr&aacute;ctica SENA?</th>
                <td>{{peticion.duracion}} Meses</td>
            </tr>
            <tr>
                <th>Trabajas los festivos: </th>
                <td>{{peticion.festivos?'Si':'No'}}</td>
            </tr>
            <tr>
                <th>Salario Base: </th>
                <td>{{peticion.salario | currency : '$'}}</td>
            </tr>
            <tr>
                <th>Edad: </th>
                <td>{{peticion.edad}}</td>
            </tr>
            <tr>
                <th>Experiencia Laboral: </th>
                <td>{{peticion.experiencia}}</td>
            </tr>
            <tr>
                <th>Te pensionarás como: </th>
                <td>{{peticion.sexo === const.hombre.sexo ? const.hombre.label:const.mujer.label}} a los {{peticion.sexo
                    ===
                    const.hombre.sexo ? const.hombre.edadPension:const.mujer.edadPension}} años</td>
            </tr>
            <tr>
                <th>Año inicial simulación : </th>
                <td>{{laboral.inicio}}</td>
            </tr>
            <tr>
                <th>Año final simulación: </th>
                <td>{{laboral.fin}}</td>
            </tr>
            <tr>
                <th>Años trabajando: </th>
                <td>{{laboral.fin-laboral.inicio}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button (click)="verNotas = !verNotas" button type="button" class="btn btn-success">Ver Consideraciones</button>
    <div *ngIf="verNotas">
        <br>
        <app-parametros [peticion]="peticion"></app-parametros>
        <br>
        <p>Simulacion proyectada a los años que has trabajado</p>
        <p>Cada color representa la simulación de una Reforma Laboral </p>
        <p>Todos los cálculos se realizan en salarios de 2025</p>
        <p>No se incluye el subsidio de transporte ni primas ni cesantías ni vacaciones para los cálculos en este
            momento.</p>
    </div>
    <br>

    <grafico-barras-simple [barras]="laboral.barrasTotal">
    </grafico-barras-simple>

    <br>
    Así se vería tu historia laboral liquidada por cada una de las reformas desde hechas 1990 y con la propuesta:
    <horas-laboral [laboral]="laboral.valores">
    </horas-laboral>
    <div class="row">
        <div class="spacer">
            <button button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>