<h2>Aquí podrás ver la documentación</h2>

<p>
    En esta secci&oacute;n agregar&eacute; los par&aacute;metros que tengo en cuenta y los supuestos para la simulaci&oacute;n;
    es muy probable que algunos valores no esten bien mientras esta en construcci&oacute;n y en sus versiones alfa
    si encuentras un valor que está mal te invito a informarmelo <a href="{{contacto.link}}">{{contacto.usuario}}</a>
</p>

<h3>Parámetros de las reformas:</h3>

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Valores</th>
                <th *ngFor="let parametro of parametros">{{parametro.name}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{const.jornadaDiurnaInicio.label}}</td>
                <td>{{parametros[0].diaInicio}}</td>
                <td>{{parametros[1].diaInicio}}</td>
                <td>{{parametros[2].diaInicio}}</td>
            </tr>
            <tr>
                <td>{{const.jornadaDiurnaFin.label}}</td>
                <td>{{parametros[0].diaFin}}</td>
                <td>{{parametros[1].diaFin}}</td>
                <td>{{parametros[2].diaFin}}</td>
            </tr>
            <tr>
                <td>{{const.jornadaNocturnaInicio.label}}</td>
                <td>{{parametros[0].nocheInicio}}</td>
                <td>{{parametros[1].nocheInicio}}</td>
                <td>{{parametros[2].nocheInicio}}</td>
            </tr>
            <tr>
                <td>{{const.jornadaNocturnaFin.label}}</td>
                <td>{{parametros[0].nocheFin}}</td>
                <td>{{parametros[1].nocheFin}}</td>
                <td>{{parametros[2].nocheFin}}</td>
            </tr>
            <tr>
                <td>{{const.senaLectiva.label}}</td>
                <td>{{parametros[0].senaLectiva}}</td>
                <td>{{parametros[1].senaLectiva}}</td>
                <td>{{parametros[2].senaLectiva}}</td>

            </tr>
            <tr>
                <td>{{const.senaProductiva.label}}</td>
                <td>{{parametros[0].senaProductiva}}</td>
                <td>{{parametros[1].senaProductiva}}</td>
                <td>{{parametros[2].senaProductiva}}</td>
            </tr>
            <tr>
                <td>{{const.horasDiurnas.label}}</td>
                <td>{{parametros[0].horasDiurnas.porcentaje}}</td>
                <td>{{parametros[1].horasDiurnas.porcentaje}}</td>
                <td>{{parametros[2].horasDiurnas.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasNocturnas.label}}</td>
                <td>{{parametros[0].horasNocturnas.porcentaje}}</td>
                <td>{{parametros[1].horasNocturnas.porcentaje}}</td>
                <td>{{parametros[2].horasNocturnas.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasExtrasDiurnas.label}}</td>
                <td>{{parametros[0].horasExtrasDiurnas.porcentaje}}</td>
                <td>{{parametros[1].horasExtrasDiurnas.porcentaje}}</td>
                <td>{{parametros[2].horasExtrasDiurnas.porcentaje}}</td>

            </tr>
            <tr>
                <td>{{const.horasExtrasNocturnas.label}}</td>
                <td>{{parametros[0].horasExtrasNocturnas.porcentaje}}</td>
                <td>{{parametros[1].horasExtrasNocturnas.porcentaje}}</td>
                <td>{{parametros[2].horasExtrasNocturnas.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasDiurnasDominicalesOFestivos.label}}</td>
                <td>{{parametros[0].horasDiurnasDominicalesOFestivos.porcentaje}}</td>
                <td>{{parametros[1].horasDiurnasDominicalesOFestivos.porcentaje}}</td>
                <td>{{parametros[2].horasDiurnasDominicalesOFestivos.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasNocturnasDominicalesFestivos.label}}</td>
                <td>{{parametros[0].horasNocturnasDominicalesFestivos.porcentaje}}</td>
                <td>{{parametros[1].horasNocturnasDominicalesFestivos.porcentaje}}</td>
                <td>{{parametros[2].horasNocturnasDominicalesFestivos.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasExtrasDiurnasDominicalesOFestivos.label}}</td>
                <td>{{parametros[0].horasExtrasDiurnasDominicalesFestivas.porcentaje}}</td>
                <td>{{parametros[1].horasExtrasDiurnasDominicalesFestivas.porcentaje}}</td>
                <td>{{parametros[2].horasExtrasDiurnasDominicalesFestivas.porcentaje}}</td>
            </tr>
            <tr>
                <td>{{const.horasExtrasNocturnasDominicalesOFestivos.label}}</td>
                <td>{{parametros[0].horasExtrasNocturnasDominicalesFestivas.porcentaje}}</td>
                <td>{{parametros[1].horasExtrasNocturnasDominicalesFestivas.porcentaje}}</td>
                <td>{{parametros[2].horasExtrasNocturnasDominicalesFestivas.porcentaje}}</td>
            </tr>
        </tbody>
    </table>
</div>