<div class="container">
    <h2>Simulación de la Semana:</h2>
    <p>Te guiaremos paso a paso por la simulación, primero sabrás cómo sería liquidada tu semana según tu horario
        laboral
        dependiendo de los diferentes régimenes que han existido en Colombia</p>
    <p>El primero era la <b> {{reformas[0].name}} </b> y establecía que la Jornada Diurna era de <b>{{reformas[0].diaInicio+ ' - ' + reformas[0].diaFin}}</b> y la Jornada
        Nocturna de <b>{{reformas[0].nocheInicio+ ' - ' + reformas[0].nocheFin}}</b>.</p>

    <p>El segundo fue la  <b>{{reformas[1].name}}</b>  y estableció que la Jornada Diurna era de <b>{{reformas[1].diaInicio+ ' - ' + reformas[1].diaFin}}</b> y
        la Jornada Nocturna de <b>{{reformas[1].nocheInicio+ ' - ' + reformas[1].nocheFin}}</b>.</p>

    <p>La propuesta actual la <b>{{reformas[2].name}}</b>  es que la Jornada Diurna sea de <b>{{reformas[2].diaInicio+ ' - ' + reformas[2].diaFin}}</b> y la Jornada Nocturna
        de <b>{{reformas[2].nocheInicio+ ' - ' + reformas[2].nocheFin}}</b>.</p>

    <horas-semana [semana]="semana">

    </horas-semana>
</div>