<div class="container">
    <h2>Simulación de la Semana:</h2>
    <p>Te guiaremos paso a paso por la simulación, primero sabrás cómo sería liquidada tu semana según tu horario
        laboral
        dependiendo de los diferentes régimenes que han existido en Colombia</p>
    <p>El primero era de 1950 y establecía que la Jornada Diurna era de <b>6:00 AM hasta las 6:00 PM</b> y la Jornada
        Nocturna de <b>6:00 PM hasta las 6:00 AM</b>.</p>

    <p>El segundo fue la ley 789 de 2002 y estableció que la Jornada Diurna era de <b>6:00 AM hasta las 10:00 PM</b> y
        la Jornada Nocturna de <b>10:00 PM hasta las 6:00 AM</b>.</p>

    <p>La propuesta actual (2025) es que la Jornada Diurna sea de <b>6:00 AM hasta las 7:00 PM</b> y la Jornada Nocturna
        de <b>7:00 PM hasta las 6:00 AM</b>.</p>

    <horas-semana [semana]="semana">

    </horas-semana>
</div>