<div class="container">
    <h2>Simulación de la Semana:</h2>
    <p>Te guiaremos paso a paso por la simulación, primero sabrás cómo sería liquidada tu semana según tu horario
        laboral
        dependiendo de los diferentes régimenes que han existido en Colombia</p>


    <button (click)="verNotas = !verNotas" button type="button" class="btn btn-success">Ver Consideraciones</button>
    <div *ngIf="verNotas">
        <br>
        <h4>Par&aacute;metros utilizados:</h4>
        <div class="table-responsive">
            <table class="table align-middle">
                <thead>
                    <tr>
                        <th>Valores</th>
                        <th *ngFor="let i of const.reformas">
                            {{ parametros[i].reformaLabel}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{const.jornadaLaboralDiurna.label}}: </td>
                        <td *ngFor="let i of const.reformas">
                            {{ parametros[i].diaInicio}} - {{ parametros[i].diaFin}}
                        </td>
                    </tr>
                    <tr>
                        <td>{{const.jornadaLaboralNocturna.label}}: </td>
                        <td *ngFor="let i of const.reformas">
                            {{ parametros[i].nocheInicio}} - {{ parametros[i].nocheFin}}</td>
                    </tr>
                    <tr>
                        <td>{{const.jornadaLaboralSemanal.label}}:</td>
                        <td *ngFor="let i of const.reformas">
                            {{parametros[i].jornadaLaboralMensual}} Horas
                        </td>
                    </tr>
                    <tr>
                        <td>{{const.jornadaLaboralMensual.label}}:</td>
                        <td *ngFor="let i of const.reformas">{{parametros[i].jornadaLaboralMensual}} Horas</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>

    <semana-grafico [charts]="semana.charts">
    </semana-grafico>

    <horas-semana [semana]="semana.horasSemana">

    </horas-semana>

</div>