<div class="container">
  <div class="row">
    <div class="col">
      <label for="nombre">Cómo te llamas?</label>
      <input class="form-control" type="text" id="nombre" name="nombre" [(ngModel)]="peticion.nombres">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input class="form-check-input" type="checkbox" name="nocturna" id="nocturna" [(ngModel)]="peticion.nocturna">
      <label class="form-check-label" for="nocturna">
        Trabajas en jornada nocturna?
      </label>
    </div>
  </div>
  <div *ngIf="peticion.nocturna">
    <br>
    Hola {{peticion.nombres}}! el cálculo optimizado para jornada nocturna está en construcción, sin embargo puedes
    hacerte una idea general
    utilizando el modelo existente.
  </div>
  <div class="row">
    <div class="col">
      <h3>Cuál es tu jornada laboral?</h3>
      <p>Agrega los bloques de horas que componen tu jornada laboral {{peticion.nocturna?'nocturna':'diurna'}}
        <br>
        Ej:
      </p>
      <ul *ngIf="!peticion.nocturna">
        <li>8:00 a 13:00 los Lunes, Martes, Miércoles, Jueves, Viernes, Sábados</li>
        <li>14:00 a 18:00 los Lunes, Martes, Miércoles, Jueves, Viernes</li>
      </ul>
      <ul *ngIf="peticion.nocturna">
        <li>20:00 a 24:00 los Lunes, Martes, Miércoles, Jueves, Viernes</li>
        <li>01:00 a 06:00 los Lunes, Martes, Miércoles, Jueves, Viernes, Sábados</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="turnoCard" *ngFor="let item of turnos">
      <app-turno [turno]="item" (turnoChange)="setTurno($event)" (deleteEmitter)="deleteTurno($event)"></app-turno>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="spacer">
        <button button type="button" class="btn btn-primary" (click)="agregarTurno()">Agregar Turno</button>
      </div>
      <div class="spacer">
        <button button type="button" class="btn btn-danger" (click)="borrar()">Limpiar</button>
      </div>
      <div class="spacer">
        <button button type="button" class="btn btn-success" (click)="process()">Empezar Simulación</button>
      </div>
    </div>
  </div>
</div>