<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th>Valores</th>
                <th *ngFor="let i of const.reformas"> {{ parametros[i].reformaLabel}}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{const.agnoInicio.label}}</td>
                <td *ngFor="let i of const.reformas" align="center">{{parametros[i].angoInicio}}</td>
            </tr>
            <tr *ngIf="verSMLV">
                <td>{{const.smlv.label}}</td>
                <td *ngFor="let i of const.reformas">{{(parametros[i].smlv) | currency : '$' }} </td>
            </tr>
            <tr *ngIf="!verSMLV">
                <td>{{const.salario.label}}</td>
                <td colspan="4" align="center">{{(peticion.salario) | currency : '$' }} </td>
            </tr>
            <tr>
                <td>{{const.jornadaLaboralMensual.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].jornadaLaboralMensual}} Horas</td>
            </tr>
            <tr>
                <td>{{const.jornadaLaboralSemanal.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].jornadaLaboralSemanal}} Horas</td>
            </tr>
            <tr *ngIf="verSMLV">
                <td>Valor {{const.smlvHora.label}}</td>
                <td *ngFor="let i of const.reformas">{{(parametros[i].smlvHora) | currency : '$' }} </td>
            </tr>
            <tr *ngIf="!verSMLV">
                <td>{{const.salarioHora.label}}</td>
                <td *ngFor="let i of const.reformas">{{(peticion.salario/parametros[i].jornadaLaboralMensual) | currency : '$' }} </td>
            </tr>
            <tr>
                <td colspan="5" align="center"><b>Jornadas:</b></td>
            </tr>
            <tr>
                <td>{{const.jornadaDiurnaInicio.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].diaInicio }}
                </td>
            </tr>
            <tr>
                <td>{{const.jornadaDiurnaFin.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].diaFin }}
                </td>
            </tr>
            <tr>
                <td>{{const.jornadaNocturnaInicio.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].nocheInicio }}
                </td>
            </tr>
            <tr>
                <td>{{const.jornadaNocturnaFin.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].nocheFin }}
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center"><b>Máximo horas extra:</b></td>
            </tr>
            <tr>
                <td>{{const.maximoHorasExtra.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].maximoHorasExtras }}
                </td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td colspan="5" align="center"><b>Practicas SENA</b></td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaLectiva.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].senaLectiva}}% de SMLV</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaLectiva.label}} Salario</td>
                <td *ngFor="let i of const.reformas">{{(parametros[i].smlv*parametros[i].senaLectiva)/100 | currency : '$'}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaLectiva.label}} Salario por Hora</td>
                <td *ngFor="let i of const.reformas">{{((parametros[i].smlv*parametros[i].senaLectiva)/(100*parametros[i].jornadaLaboralMensual)) | currency : '$'}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaProductiva.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].senaProductiva}}% de SMLV</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaProductiva.label}} Salario</td>
                <td *ngFor="let i of const.reformas">{{(parametros[i].smlv*parametros[i].senaProductiva)/100 | currency : '$'}}</td>
            </tr>
            <tr *ngIf="peticion.sena">
                <td>{{const.senaProductiva.label}} Salario por Hora</td>
                <td *ngFor="let i of const.reformas">{{((parametros[i].smlv*parametros[i].senaProductiva)/(100*parametros[i].jornadaLaboralMensual)) | currency : '$'}}</td>
            </tr>
            <tr>
                <td colspan="5" align="center"><b>Recargos:</b></td>
            </tr>
            <tr>
                <td>{{const.horasDiurnas.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].horasDiurnas.porcentaje}}% |
                    {{(salarioHora[i]) | currency : '$' }}
                </td>
            </tr>
            <tr>
                <td>{{const.horasNocturnas.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].horasNocturnas.porcentaje}}% |
                    {{(salarioHora[i] *
                    parametros[i].horasNocturnas.factor) | currency : '$' }}
                    </td>
            </tr>
            <tr>
                <td>{{const.horasExtrasDiurnas.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].horasExtrasDiurnas.porcentaje}}% | {{(salarioHora[i] *
                    parametros[i].horasExtrasDiurnas.factor) | currency : '$' }}
                    </td>
            </tr>
            <tr>
                <td>{{const.horasExtrasNocturnas.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].horasExtrasNocturnas.porcentaje}}% | {{(salarioHora[i] *
                    parametros[i].horasExtrasNocturnas.factor) | currency : '$' }}
                    </td>
            </tr>
            <tr>
                <td>{{const.horasDiurnasDominicalesOFestivos.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].horasDiurnasDominicalesOFestivos.porcentaje}}% | {{(salarioHora[i] *
                    parametros[i].horasDiurnasDominicalesOFestivos.factor) | currency : '$' }}
                    </td>
                
            </tr>
            <tr>
                <td>{{const.horasNocturnasDominicalesFestivos.label}}</td>
                <td *ngFor="let i of const.reformas">
                    {{parametros[i].horasNocturnasDominicalesFestivos.porcentaje}}% | {{(salarioHora[i]
                    * parametros[i].horasNocturnasDominicalesFestivos.factor) | currency : '$' }}
                    </td>

            </tr>
            <tr>
                <td>{{const.horasExtrasDiurnasDominicalesOFestivos.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].horasExtrasDiurnasDominicalesFestivas.porcentaje}}% |
                    {{(salarioHora[i] * parametros[i].horasExtrasDiurnasDominicalesFestivas.factor) |
                    currency : '$' }}
                    </td>

            </tr>
            <tr>
                <td>{{const.horasExtrasNocturnasDominicalesOFestivos.label}}</td>
                <td *ngFor="let i of const.reformas">{{parametros[i].horasExtrasNocturnasDominicalesFestivas.porcentaje}}% |
                    {{(salarioHora[i] * parametros[i].horasExtrasNocturnasDominicalesFestivas.factor) |
                    currency : '$' }}
                    </td>
            </tr>
            <tr>
                <td colspan="5" align="center"><b>Pendientes de modelar:</b></td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                Liquidación de Prima, Cesantias, Intereses a Cesantías y Vacaciones, 
                </td>
            </tr>
        </tbody>
    </table>
</div>
