<div class="container">
    <h2>Simulacion de historia laboral</h2>
    <p></p>
    <h3>Datos ingresados:</h3>
    <table>
        <tr>
            <th>Nombre:</th>
            <td>{{peticion.nombres}}</td>
        </tr>
        <tr>
            <th>Estudiante del Sena?</th>
            <td>{{peticion.sena?'Si':'No'}}</td>
        </tr>
        <tr *ngIf="peticion.sena">
            <th>Etapa en el SENA?</th>
            <td>{{peticion.etapa}}</td>
        </tr>
        <tr *ngIf="peticion.sena">
            <th>Duraci&oacute;n pr&aacute;ctica SENA?</th>
            <td>{{peticion.duracion}} Meses</td>
        </tr>
        <tr>
            <th>Trabajas los festivos: </th>
            <td>{{peticion.festivos?'Si':'No'}}</td>
        </tr>
        <tr>
            <th>Salario Base: </th>
            <td>{{peticion.salario | currency : '$'}}</td>
        </tr>
        <tr>
            <th>Edad: </th>
            <td>{{peticion.edad}}</td>
        </tr>
        <tr>
            <th>Experiencia Laboral: </th>
            <td>{{peticion.experiencia}}</td>
        </tr>
        <tr>
            <th>Te pensionarás como: </th>
            <td>{{peticion.sexo}}</td>
        </tr>
    </table>
    <br>
    <p>Simulacion proyectada a los años que has trabajado</p>
    <p>Cada color representa la  simulación de una Reforma Laboral </p>
    <p>Todos los cálculos se realizan en salarios de 2025</p>
    <br>
    <horas-agno [laboral]="laboral">
    </horas-agno>
    <div class="row">
        <div class="spacer">
            <button button type="button" class="btn btn-primary" (click)="volver()">Volver</button>
        </div>
    </div>
</div>

