<div class="row">
    <div class="col">
        <label for="dayPicker">Seleciona los días:</label>
        <div id="dayPicker" class="dayPicker">
            <div *ngFor="let day of daysList" class="spacer">
                <button type="button" ngClass="{{day.selected?'btn btn-warning':'btn btn-success'}}" (click)="selectDay(day)">
                    {{day.label}}
                </button>
            </div>
            <div class="spacer">
                <button type="button" class="btn btn-info limpiar" (click)="clear()">
                    Limpiar
                </button>
            </div>
        </div>
    </div>
</div>