
.timeSelector {
    
}

.timeInput{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.panel {
    max-height: 200px;
    overflow: auto;
    border: var(--bs-border-width) solid var(--bs-border-color);
    width: 120px;
    padding: 0.375rem 0.75rem;
    float: none;
    position: absolute;
    z-index: 9999;
    background-color: antiquewhite;
}

.hour {
    max-width: 30px;
    padding-left: 5px;
    float: left;
}

.hourItem{
    float: left;
}

.minute {
    max-width: 30px;
    padding-left: 5px;
    float: left;
}

.minuteItem{

}


.ampm {
    max-width: 30px;
    float: right;
}

.ampmItem{

}
