
<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th scope="col" *ngFor="let tipo of tiposHoras">{{tipo}}</th>
            </tr>
        </thead>
        <tbody>
            <ng-template ngFor let-i="index" let-c="count" let-mes [ngForOf]="meses">
                <tr (click)="toogle(mes.reformaName)" ngClass="{{'table-'+mes.style}}" [hidden]="hidden(mes)">
                    <th scope="row">{{mes.label}}</th>
                    <td scope="row">{{mes.reformaLabel}}</td>
                    <td scope="row">{{mes.horasDiurnas | number}}</td>
                    <td scope="row">{{mes.horasExtraDiurna | number}}</td>
                    <td scope="row">{{mes.horasNocturnas | number}}</td>
                    <td scope="row">{{mes.horasExtraNocturna | number}}</td>
                    <td scope="row">{{mes.horasDiurnasDominicalesOFestivos | number}}</td>
                    <td scope="row">{{mes.horasExtrasDiurnasDominicalesFestivas | number}}</td>
                    <td scope="row">{{mes.horasNocturnasDominicalesFestivos | number}}</td>
                    <td scope="row">{{mes.horasExtrasNocturnasDominicalesFestivas | number}}</td>
                    <th scope="row">{{mes.totalHoras | number}}</th>
                </tr>
                <tr (click)="toogle(mes.reformaName)" ngClass="{{'table-'+mes.style}}" [hidden]="hidden(mes)">
                    <td scope="row">Total:</td>
                    <td scope="row"></td>
                    <td scope="row">{{mes.valorHorasDiurnas | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasExtraDiurna | currency: '$' }}</td>
                    <td scope="row">{{mes.valorHorasNocturnas | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasExtraNocturna | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasDiurnasDominicalesOFestivos | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasExtrasDiurnasDominicalesFestivas | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasNocturnasDominicalesFestivos | currency: '$'}}</td>
                    <td scope="row">{{mes.valorHorasExtrasNocturnasDominicalesFestivas | currency: '$'}}</td>
                    <th scope="row">{{mes.totalValorHoras | currency: '$'}}</th>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>