<div ngClass="{{turno.valido?'turnoDiv':'turnoDiv validationError'}}">
    <div class="row">
        <div class="col">
            <h4>{{turno.nombre}}</h4>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger" (click)="eliminarTurno(turno.id)">
                Eliminar {{turno.id}}
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <label for="horaInicio">Inicio:</label>
            <input class="form-control" type="time" step="900" name="horaInicio" id="horaInicio"
                [(ngModel)]="horaInicio" (change)="setHoraInicio()">
        </div>
        <div ngClass="{{invalidFin?'col-4 validationError':'col-4'}}">
            <label for="horaFin">Final:
            </label>
            <input class="form-control" disabled="{{medianoche}}" type="time" step="900" name="horaFin" id="horaFin"
                [(ngModel)]="horaFin" (change)="setHoraFin()">
        </div>
        <div class="col-4">
            <label for="horas">Horas:</label>
            <input type="text" id="horas" disabled="true" class="form-control" [(ngModel)]="horas">
        </div>
        <!--Fila inferior-->
        <div class="col-4">
            <input class="" type="checkbox" name="medianoche" id="medianoche" (change)="setHoraFin()"
                [(ngModel)]="medianoche">
            <label class="" for="medianoche">
                Medianoche?
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <day-picker (days)="setDays($event)"></day-picker>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="horasTurno">Horas totales a la semana:</label>
            <input type="text" id="horasTurno" disabled="true" class="form-control" [(ngModel)]="horasTurno">
        </div>
    </div>
    <div class="row" *ngIf="!turno.valido">
        <div class="col textError">
            <br>
            Error la ficha se sobrepone con otra ficha!
        </div>
    </div>
</div>