<div class="container">
    <h2>Y cómo se ve esto en un año?</h2>
    <br>
    <p>Para saber cómo se ve esto reflejado en un año necesitamos los siguientes datos:</p>
    <div class="row">
        <div class="col">
            <label for="aprendiz" class="form-label">Eres aprendiz del SENA?</label>
            <input class="form-check-input" type="checkbox" id="aprendiz" name="aprendiz" [(ngModel)]="peticion.sena">
        </div>
        <div class="col" *ngIf="peticion.sena">
            <label for="etapa">En qué etapa estás :</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="lectiva" name="etapa" id="lectiva"
                    [(ngModel)]="peticion.etapa">
                <label class="form-check-label" for="lectiva">
                    Etapa Lectiva
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="productiva" name="etapa" id="productiva"
                    [(ngModel)]="peticion.etapa">
                <label class="form-check-label" for="productiva">
                    Etapa Productiva
                </label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" *ngIf="peticion.sena">
            <label for="duracion" class="form-input">Duración en meses: </label>
            <input class="form-control" type="number" id="duracion" name="duracion" [(ngModel)]="peticion.duracion">
        </div>
    </div>
    
    <div class="row">
        <div class="col" *ngIf="!peticion.sena">
            <label for="salario" class="form-input">Cuál es tu salario Base: </label>
            <input class="form-control" type="number" id="salario" name="salario" [(ngModel)]="peticion.salario">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="festivos" class="form-label">Trabajas los festivos?</label>
            <input class="form-check-input" type="checkbox" id="festivos" name="festivos" [(ngModel)]="peticion.festivos">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button button type="button" class="btn btn-success" [disabled]="!formularioValido" (click)="calcularMes()">Simular meses</button>
        </div>
    </div>
</div>