.contactDiv {
    float: left;
    width: auto;
    height: auto;
    padding-left: 5px;
}

.contactImg {
    width: 25px;
    height: 25px;
    transition: transform .2s
}

.contactImg:hover {
    transform: scale(1.5);
}