/* You can add global styles to this file, and also import other style files */


.validationError {
    border-color: #e2bfc3;
    background-color: #f7d7da;
    border-radius: 5pt;
}

.textError {
    color: #dc3546;
}

.spacer {
    max-width: fit-content;
    padding: 5px;
    float: left;
}


:root {
    --a: #008ffb;
    --b: #FF4560;
    --c: #FEB019;
    --d: #00E396;
    --e: #775DD0;
    --f: #546E7A;
    --g: #26a69a;
    --h: #D10CE8;

    --G50-fill: rgba(13, 202, 240, 0.85);
    --G50-stroke:   rgb(32, 201, 151);
    --U789-fill: rgba(255, 69, 96, 0.85);
    --U789-stroke:rgb(220, 53, 69);
    --D2101-fill:rgba(254, 176, 25, 0.85);
    --D2101-stroke: rgb(253, 126, 20);
    --P2025-fill:rgba(0, 227, 150, 0.85);
    --P2025-stroke:rgb(103, 187, 3);

    --gpt1: rgba(23, 54, 93, 1);
    --gpt2: rgba(175, 30, 45, 1);
    --gpt3: rgba(230, 126, 48, 1);
    --gpt4: rgba(46, 204, 113, 1);

    --P : rgb(248, 153, 27,0.7);
    --A : rgb(39, 55, 133,0.7);
    --C : rgb(238, 27, 36,0.7);
    --T : rgb(51, 173, 74,0.7);

    --G50: rgba(13, 202, 240, 0.2);
    --U789: rgba(255, 69, 96, 0.6);
    --D2101:rgba(254, 176, 25, 0.6);
    --P2025:rgba(0, 227, 150, 0.6);

    --G50B: rgba(13, 202, 240, 0.5);
    --U789B: rgba(255, 69, 96, 0.7);
    --S1846B: rgba(254, 176, 25, 0.9);
    --D2101B:rgba(255, 215, 35, 0.9);
    --P2025B:rgba(0, 227, 150, 0.8);

    --G50BA: rgba(13, 202, 240, 0.8);
    --U789BA: rgba(255, 69, 96, 0.86);
    --D2101BA:rgba(254, 176, 25, 1);
    --P2025BA:rgba(0, 227, 150, 1);

    --GrapLabel : #2d2230;
    
    --G1: #0dcaf033;
    --U7: #ff456099;
    --D2:#feb01999;
    --S2:#fff3cd;
    --P2:#00e39699;

    --HDiur : #26a69a;
    --HNoct: #008ffb;
    --HDiuExt: #00E396;
    --HNoctExt: #546E7A;
    --HNoRegist: #966dcc;


    --gaviria: var(--G1);
    --uribe: var(--U7);
    --duque: var(--D2);
    --santos: var(--S2);
    --petro: var(--P2);


}

.table-primary td{
    background-color: var(--gaviria) !important;
}

.table-primary th{
    background-color: var(--gaviria) !important;
}

.table-secondary td{
    background-color: var(--uribe) !important;
}

.table-secondary th{
    background-color: var(--uribe) !important;
}

.table-info td{
    background-color: var(--duque) !important;
}

.table-info th{
    background-color: var(--duque) !important;
}

.table-success td{
    background-color: var(--petro) !important;
}

.table-success th{
    background-color: var(--petro) !important;
}