<div class="container">
    <h2>2-Simulación de un mes con Salario mínimo:</h2>

    <p>Muestra la simulación de un mes utilizando como modelo los datos del a&nacute;o 2025</p>
    <p>Este elemento está en desarrollo, si quieres contribuir a éste proyecto te invito a ponerte en contacto, en la
        esquina superior derecha están las formas de contacto</p>
    <h3>Datos ingresados:</h3>
    <table>
        <tbody>
            <tr>
                <th>Nombre:</th>
                <td>{{peticion.nombres}}</td>
            </tr>
            <tr>
                <th>Jornada Semanal: </th>
                <td>{{peticion.jornadaSemanal}}</td>
            </tr>
            <tr>
                <th>Salario Base: </th>
                <td>{{peticion.salario | currency : '$'}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <button (click)="verNotas = !verNotas" button type="button" class="btn btn-success">Ver Consideraciones</button>
    <div *ngIf="verNotas">
        <br>
        <h4>Par&aacute;metros utilizados:</h4>
        <app-parametros [peticion]="peticion"></app-parametros>
        <br>
    </div>

    <grafico-barras-simple [datos]="mes.barrasSimpleDatos">
    </grafico-barras-simple>
    <!-- Funciona la simulacion de meses pero no sé como describirla-->

    <p>Puedes simular diferentes meses del año con y sin festivos para que veas cómo se liquidan los diferentes tipos de
        horas según el día de la seman, el mes del año, si se tienen en cuenta los festivos o no. </p>
    <div class="row">
        <div class="col">
            <label for="meses" class="form-label">Mese a Simular:</label>
            <select id="meses" class="form-select" [(ngModel)]="peticion_.mesId">
                <option [ngValue]="null">Seleccione</option>
                <option *ngFor="let mes of meses" [ngValue]="mes.id">{{mes.label}}</option>
            </select>
        </div>
        <div class="col">
            <input class="form-check-input" type="checkbox" id="festivos" name="festivos"
                [(ngModel)]="peticion_.festivos">
            <label for="festivos" class="form-label">Incluir trabajo en los fesivos?</label>
        </div>
        <div class="col">
            <button button type="button" class="btn btn-success" (click)="simularMes()">Simular</button>
        </div>
    </div>

    <horas-mes [meses]="mes.meses" [excluir]="excluir">
    </horas-mes>

</div>