<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" (click)="navegarA('inicial')">Simulador</a>
        <a class="navbar-brand" (click)="navegarA('parametros')">Parámetros</a>
        <app-credits></app-credits>
    </nav>
    <div class="row">
        <br>
    </div>
    <div class="row">
        <parametros-view *ngIf="mostrarParametros"></parametros-view>
    </div>
</div>

<!--FORMULARIO inicial para ingresar el nombre y el horario de la persona -->
<inicial-form [peticion]="peticion" *ngIf="mostrarInicialForm"
    (peticionHorarioChange)="simularSemana($event)" ></inicial-form>


<!--SIMULACION de la semana -->
<semana-simulacion [semana]="semana" *ngIf="mostrarSemanaSimulacion" [peticion]="peticion">
</semana-simulacion>


<!--FORMULARIO del Sena o salario -->
<mes-form [peticion]="peticion" *ngIf="mostrarMesForm" (volverChange)="navegarA($event)" (peticionSemanaChange)="simularMeses($event)"></mes-form>

<!--SIMULACION del mes con la configuración del sena o salario -->
<mes-simulacion *ngIf="mostrarMesSimulacion" [peticion]="peticion" [meses]="meses"></mes-simulacion>

<!--FORMULARIO de la eddad, sexo y años de experiencia laboral para liquidar lo que  ha perdido con la refoma  789 y lo que podría ganar con la reforma 2025-->
<agno-form [peticion]="peticion" *ngIf="mostrarAgnoForm" (volverChange)="navegarA($event)" (peticionSemanaChange)="simularAgnos($event)"></agno-form>


<!--SIMULACION de la posible historia laboral  -->
<agno-simulacion *ngIf="mostrarAgnoSimulacion" (volverChange)="navegarA($event)" [peticion]="peticion" [laboral]="laboral"></agno-simulacion>